.product-list {
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        select {
            padding: 20px;
            width: 250px;
            border: 1px solid grey;
            color: grey;
        }
    }
    .bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}