.cart {
    position: absolute;
    z-index: 999;
    top: 80; 
    right:0;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;

    .cart-items {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 20px;
    }
    .subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    button {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: dodgerblue;
        text-transform: uppercase;
        color: white;
        border: none;
    }
}