.navbar {
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;

    .wrapper {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;

        .navbarItem {
            display: flex;
            align-items: center;
        }

        .left {
            display: flex;
            gap: 25px;
            align-items: center;
        }

        .center {
            display: flex;
        }

        .right {
            display: flex;
            gap: 25px;
            align-items: center;


            .icons {
                display: flex;
                align-items: center;
                gap: 15px;
                color: #777;
                cursor: pointer;
                .search-bar {
                    display: flex;
                    align-items: center;
                    border: 1px solid grey;
                    padding: 10px 10px;

                    button {
                        border: none;
                        background-color: transparent;
                        color: #777;
                    }

                    input {
                        border: none;
                        background-color: transparent;
                        
                    }
                }
                .cartIcon {
                    position: relative;
                    span {
                        font-size: 12px;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        top: -10px;
                        right: -10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color:rgb(24, 143, 222);
                        color: white;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}