.cart-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    gap: 20px;

    .item-details{
        display: flex;
        gap: 20px;
        img {
            width: 100px;
            object-fit: contain;
        }
    }
}